.DS_Store
.build/
.swiftpm/
.artifacts/
DerivedData/
*.xcresult
*.xcuserstate
xcuserdata/
Config/Secrets.xcconfig
Config/Signing.xcconfig
HealthMuleApp/Resources/Info.plist
HealthMule.xcodeproj/*
!HealthMule.xcodeproj/project.xcworkspace/
HealthMule.xcodeproj/project.xcworkspace/*
!HealthMule.xcodeproj/project.xcworkspace/xcshareddata/
HealthMule.xcodeproj/project.xcworkspace/xcshareddata/*
!HealthMule.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
HealthMule.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!HealthMule.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
